.idea
.env
.vscode
.github
.DS_Store
postgres-data
snomed/elastic
mongo-data

*.pem
*.cer
*.key
*.p8
elastic
lacchain-postgres-data
certs
did.txt
/fhir-terminology/package
/fhir-terminology/*.tgz

postgres-data-app
json
.snowstorm-init-status