.idea
.env
.vscode
.github
.DS_Store
postgres-data
postgres-data-app/
snomed/elastic
mongo-data
.snowstorm-init-status/

*.pem
*.cer
*.key
*.p8
elastic
lacchain-postgres-data
certs
did.txt
/fhir-terminology/package
/fhir-terminology/*.tgz
